// Navigation code here
header {
    .flex(center, center);
    flex-direction: column;
    background-color: @nav-bg;
    padding: 1%;

    @media @phone {
        margin: 0 20%;
    }
    


    nav {
    .flex(space-between, center);
    width: 28%;
    padding-top: 2%;


    a {
        text-decoration: none;
        color: @main-font-color;
        font-size: 2rem;
    }//ends nav a
}//ends nav
}//ends header


